
* {
    font-family: Ubuntu, Calibri, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    border-left: cornflowerblue 6px solid;
    padding-left : 6px;
}

h2 {
    border-left: goldenrod 5px solid;
    padding-left : 5px;
}

head,
body {
    height : 100%; 
}

body {
    padding : 25px;
}