<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style">
</head>
<body>
    <h1>Terms and Conditions ({{language}})</h1>
    <p>Numbering here</p>
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla rutrum nisl, ut molestie nisi molestie pellentesque. Nullam sodales aliquet commodo. Curabitur commodo consequat velit, id cursus ex rhoncus vitae. Phasellus et bibendum magna, in lacinia diam. Nam fringilla mattis sapien. Quisque accumsan sit amet ligula at dignissim. Duis pellentesque dictum nulla at tempor.</p>
    <p>Proin pellentesque elit vel erat dignissim egestas. Praesent euismod rhoncus mauris eget gravida. Sed semper nisl nec nunc sagittis ornare. Donec varius mollis lacus. Donec gravida consectetur odio viverra lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in congue lorem. Aenean a augue interdum lacus vulputate sodales sit amet sed est. Praesent quis posuere leo. Curabitur sodales, orci sodales bibendum eleifend, nisl risus dapibus neque, in interdum augue eros tempor libero. Integer egestas erat augue, non convallis lectus dignissim et. Praesent dignissim lorem ac sem iaculis lobortis ut non magna. Sed dapibus consequat elementum. Quisque sed elit nec enim condimentum porta. Proin euismod metus ac nibh convallis rhoncus. Morbi congue eros ut pharetra faucibus.</p>
    <p>Mauris a dictum erat. Aliquam venenatis nunc vitae ex convallis sodales. Duis eget sapien nec lorem faucibus vulputate. Nam porta lorem odio, eget egestas est efficitur sed. Pellentesque quam augue, pharetra id ultrices congue, hendrerit sed enim. Fusce at condimentum sem. Etiam ac sem ligula. Morbi eget ultricies lacus, in aliquet justo. Sed eget orci vitae justo posuere feugiat.</p>
    <p>In vehicula aliquam elit, vitae facilisis augue vestibulum ac. Phasellus bibendum elementum mi eu efficitur. Duis laoreet ultrices dictum. Nam nunc libero, facilisis in malesuada a, pellentesque nec tellus. Pellentesque accumsan ut augue in tempus. Maecenas sit amet sapien eu justo malesuada eleifend. Proin consequat vulputate dictum. Ut sed venenatis lacus. Morbi sed neque vitae velit suscipit blandit. Donec molestie blandit lectus, et volutpat urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris et pretium nibh, eu volutpat odio. Mauris finibus mauris non elit molestie, eu pulvinar enim efficitur. Morbi quis mi rutrum, laoreet diam eget, efficitur sem.</p>
    <p>Donec dictum, orci quis molestie finibus, elit tellus aliquam orci, a vehicula mi enim eu lorem. Proin pulvinar mattis feugiat. Nunc vestibulum tempor justo, sed placerat massa gravida at. Sed non purus ac dolor ullamcorper placerat sed quis nisi. Proin massa lectus, fermentum non arcu vitae, porttitor luctus elit. Cras hendrerit posuere viverra. Sed sollicitudin accumsan felis.</p>
    <p>Maecenas metus sem, porta sit amet dui dignissim, viverra eleifend orci. Nulla enim nisl, maximus porttitor mollis in, varius quis nibh. Donec congue metus vel dolor ornare ornare. Vestibulum varius nunc sit amet mauris mattis, aliquet cursus urna aliquam. Aenean vestibulum rhoncus posuere. Donec at tortor sit amet massa imperdiet aliquam. Integer ac magna quis felis aliquam feugiat. Ut sed congue eros. Curabitur luctus tortor vitae rhoncus vulputate.</p>
    <h2>Donec dictum</h2>
    <p>Fusce tincidunt, nunc ac mattis faucibus, ante nulla mollis diam, eu accumsan ex elit quis sem. Nam consequat volutpat ante quis vulputate. Proin eget quam vitae lacus hendrerit tempor. Pellentesque urna ipsum, pellentesque in odio a, mollis blandit dolor. Sed elementum mauris vitae nisi sagittis, ut volutpat ex iaculis. Proin varius diam id metus interdum, vitae ornare nisi dapibus. Mauris non elit scelerisque, molestie quam a, maximus tortor. Nunc scelerisque enim vitae suscipit ultricies.</p>
    <p>Donec nec erat vestibulum ex tempor condimentum ut in turpis. Aliquam tristique massa posuere, blandit enim sit amet, pharetra purus. Aenean malesuada mollis eros non accumsan. In vel augue non augue bibendum placerat. Vestibulum posuere congue tellus et semper. Cras mollis vulputate nibh at volutpat. Morbi venenatis diam at purus lacinia efficitur. Morbi tempor orci vel condimentum finibus. Vivamus vehicula dapibus commodo. Suspendisse vitae eros dapibus, convallis odio congue, consequat massa. Donec vel fringilla risus, a maximus est. Sed sagittis ex est, nec pellentesque risus ullamcorper vitae. Donec vulputate justo et dignissim egestas. Integer scelerisque lobortis magna, sed facilisis felis gravida lobortis. Donec faucibus leo purus, molestie tristique eros dictum accumsan.</p>
    <p>Sed pulvinar elit at pellentesque imperdiet. Vivamus blandit turpis imperdiet ex semper tristique. Sed volutpat quis lorem sit amet sagittis. Praesent velit lacus, lacinia vel lectus a, mattis vulputate nibh. Nulla tortor tellus, tincidunt facilisis ante et, tempus vulputate erat. Pellentesque ornare venenatis erat vel mattis. Aenean id metus auctor, maximus urna non, suscipit massa. Duis feugiat, turpis eu consequat accumsan, nisi quam placerat risus, iaculis lacinia nulla mauris vel enim.</p>
    <p>Nulla facilisi. Phasellus quis mi placerat, semper elit sit amet, rhoncus lacus. Vestibulum ut consequat arcu. Morbi ullamcorper, lectus ac viverra porttitor, purus tellus tempus ligula, in mollis sapien nisl quis risus. Nullam in finibus arcu. Maecenas eget ligula porta, viverra ante a, auctor justo. Duis risus tortor, facilisis et euismod id, auctor at ante. Nam commodo tellus vel lorem maximus ullamcorper. Maecenas in viverra lacus. Sed at risus sit amet odio ultricies semper in at erat. Etiam sollicitudin commodo massa, non varius diam. In hac habitasse platea dictumst.</p>
    <p>Cras dolor tortor, mollis quis arcu efficitur, congue fermentum turpis. Nullam efficitur sapien magna, et porttitor erat sollicitudin ac. Nam euismod, magna sed auctor tempus, purus metus cursus magna, id auctor lacus velit eu odio. Donec turpis est, aliquam non facilisis eu, tempus eget eros. Aenean malesuada neque vel imperdiet fringilla. Curabitur est tortor, dictum vehicula imperdiet id, ultrices eu leo. Praesent eget leo mattis felis rutrum volutpat. Etiam dictum vitae tellus ac eleifend.</p>
    <p>Nunc tincidunt tempus nisi pretium bibendum. Aenean lectus ante, iaculis eget diam eget, fringilla interdum sem. Integer pellentesque sapien id justo varius sodales. Curabitur consectetur sapien quam, sed imperdiet risus hendrerit facilisis. Aenean auctor semper libero non suscipit. Donec vehicula, nisl mollis malesuada auctor, nibh ligula dictum nibh, non aliquet lectus leo at tortor. Maecenas hendrerit sapien ut finibus congue. Nunc velit nunc, suscipit id consectetur nec, vestibulum et velit. Duis consectetur metus ut vehicula feugiat. Cras ullamcorper porttitor velit, vitae luctus mi efficitur vitae.</p>
    <h2>Nutella facilisi</h2>
    <p>Duis vitae bibendum augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla quis gravida nisl, id pulvinar tellus. Duis imperdiet maximus nisl eget rutrum. Phasellus mattis pretium ultricies. Suspendisse consectetur finibus ligula, id sodales lectus laoreet sed. Curabitur fringilla condimentum metus at rutrum. Aliquam quis sodales enim. Vestibulum id sem elit. Donec tempor odio diam, et pretium nisl sagittis at. Sed faucibus sem sed mi venenatis mattis a quis elit.</p>
    <p>Proin efficitur nisl tortor, eu interdum sapien molestie et. Morbi tempor mi enim. Duis pretium metus enim, nec euismod leo ornare eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras id vulputate augue, semper eleifend lectus. Pellentesque ultrices magna non augue semper, ut ultricies dui facilisis. Mauris quis mauris ut velit cursus elementum non quis massa.</p>
    <p>Aenean turpis metus, accumsan eu ullamcorper quis, tempor id risus. Phasellus pulvinar, ex vitae blandit hendrerit, massa elit mollis est, non bibendum lorem dolor non ipsum. Pellentesque placerat sollicitudin ligula, nec egestas tortor facilisis vitae. Integer vestibulum consequat consequat. Pellentesque pulvinar velit lorem, et ultricies diam fermentum a. Donec viverra maximus augue, sit amet vestibulum sapien mattis a. Pellentesque sit amet egestas tellus, ut cursus nisi.</p>
    <p>Nam quam eros, ornare molestie pellentesque vitae, consequat ut neque. Donec vestibulum quis urna vitae ultrices. Integer urna neque, venenatis vel ullamcorper et, consectetur sit amet mauris. Maecenas id interdum orci, in dapibus lacus. Donec quis lorem eget odio laoreet egestas. Aenean eget ipsum vel nisl feugiat accumsan dignissim vitae est. Suspendisse viverra ut mi eget maximus. Proin consectetur imperdiet ante, ut congue nisl convallis et. Fusce bibendum bibendum turpis. Donec consectetur posuere diam vel ultricies. Aliquam et ipsum at nisi rutrum vestibulum. Pellentesque aliquet, enim sed lobortis finibus, ex quam interdum velit, et semper ligula erat ut quam. Maecenas vitae felis sit amet odio iaculis consectetur quis eu est. Vestibulum interdum nunc ligula, convallis fermentum odio malesuada sit amet. Cras risus ligula, semper at justo in, sollicitudin tristique mauris. Nam at justo non diam faucibus egestas.</p>
    <p>Fusce sodales nunc lectus, sed blandit justo pharetra eu. Integer imperdiet luctus augue in semper. Nulla consectetur lacus risus, id tempus lectus egestas a. Etiam sollicitudin ipsum vel diam egestas consectetur. In ut fringilla orci. Integer et justo fringilla, accumsan arcu in, blandit nunc. Sed non rhoncus ipsum. Nulla cursus lacus sit amet ex porta vehicula. Vestibulum venenatis urna vel urna convallis, in viverra justo maximus. Aenean nec diam laoreet, mattis sem vitae, mattis tellus. Sed vel tortor a tortor malesuada maximus. Aliquam tempor efficitur mauris, vitae ultrices ligula pulvinar sit amet. Nunc ornare sapien vel augue maximus consequat. Nunc iaculis mi sit amet ex hendrerit, ut congue sapien lacinia. Ut varius dolor et laoreet hendrerit.</p>
    <p>Pellentesque sed dui enim. Praesent ut nulla et purus tincidunt blandit. Integer condimentum risus vitae lacus fermentum accumsan. Aliquam tempus porttitor ipsum vel aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ornare ex diam, pellentesque cursus urna gravida id. Duis ultrices nulla libero, a efficitur lacus commodo vitae. Suspendisse turpis lorem, lacinia vitae sollicitudin at, pretium non nunc. Nunc cursus eros et ex condimentum, vitae luctus quam pulvinar. Cras eu ipsum tellus. Aenean viverra, sapien non iaculis aliquet, est enim euismod felis, nec rhoncus tortor urna a diam. Nam rhoncus metus odio, eu scelerisque felis ullamcorper nec. Vivamus nisi felis, pretium a dolor aliquam, consequat tincidunt justo. Donec vel nisi tempus, varius risus nec, laoreet lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>Integer sollicitudin sem in volutpat mollis. Vestibulum egestas nunc eget lorem consequat, et scelerisque augue mollis. Nullam maximus convallis neque, venenatis porttitor ex aliquam in. Fusce a lectus nibh. Nam nec pellentesque erat. Quisque posuere mauris eget eleifend efficitur. Morbi vehicula augue scelerisque ex ornare faucibus a eu quam.</p>
    <h1>Vestibular</h1>
    <p>Vestibulum luctus cursus erat sit amet vulputate. Morbi tincidunt gravida lectus, at imperdiet magna porta blandit. Nullam nec velit sit amet odio egestas lacinia in in nulla. In pretium sit amet risus in ullamcorper. Nulla sed nibh sit amet orci sagittis posuere. Curabitur quis purus congue, tempor risus sed, eleifend enim. Phasellus sit amet lacus a nunc sollicitudin efficitur. Nullam iaculis arcu id felis sollicitudin luctus. Sed ultrices, nisl non auctor congue, diam velit porta enim, nec sagittis risus diam auctor sem. Curabitur vestibulum cursus facilisis. Donec tortor ligula, tincidunt vel blandit tempus, elementum vel tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat dolor nec lacus feugiat interdum.</p>
    <p>Suspendisse ac sollicitudin erat, ut accumsan tortor. Cras rutrum justo sed arcu semper cursus. Ut dictum varius eleifend. Nullam aliquam nisi vel ante blandit facilisis. Duis auctor lorem quis imperdiet bibendum. Aliquam erat volutpat. Suspendisse potenti. Sed bibendum dignissim ipsum, in commodo sapien commodo ut. Aenean varius lacus velit, vel suscipit augue viverra ut.</p>
    <p>Integer varius commodo magna, vel condimentum nibh blandit nec. Curabitur ut consequat lorem, sed tristique arcu. Aenean non turpis at lorem tincidunt accumsan. Aenean dictum est est, id posuere mi elementum at. Pellentesque bibendum risus in interdum pulvinar. Aenean a dictum justo, vitae porta tellus. Donec nec augue sed nunc iaculis ultrices et ut ex.</p>
    <p>Etiam varius suscipit odio placerat pulvinar. Nullam felis augue, tincidunt id ante sit amet, tristique pulvinar mauris. Mauris commodo laoreet dolor, a venenatis ligula rutrum eu. Donec vel nisi interdum, vestibulum ipsum sed, ullamcorper eros. Etiam congue tincidunt odio vel luctus. Integer feugiat ultricies diam vestibulum porttitor. Sed fermentum diam eros, id elementum quam efficitur ac.</p>
    <p>Sed ante turpis, cursus vel accumsan in, ultrices et risus. Integer lacinia, nisi at elementum laoreet, leo dolor lobortis augue, nec iaculis enim turpis sit amet orci. Vestibulum interdum sapien quis enim scelerisque, at tempus ipsum venenatis. Quisque cursus eget quam eget laoreet. Cras congue ante id elit vulputate, vel dignissim risus bibendum. Duis dolor elit, aliquet vel scelerisque at, faucibus ornare quam. Nulla ut velit nulla. Sed pellentesque leo ipsum, vel venenatis sapien pharetra eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit ex at nisl sodales, eu malesuada tellus ullamcorper. Praesent sed pharetra est. Morbi eleifend mi ut sem vulputate, non fringilla metus lobortis. Mauris consequat sodales vehicula.</p>
    <p>Vivamus eget nibh augue. Vestibulum vitae convallis purus. Etiam vestibulum at nibh sit amet pharetra. Aliquam in auctor eros. Integer egestas ultricies magna. Nam semper lectus erat, a placerat erat accumsan at. Ut nec felis aliquam leo finibus egestas at id est. Nam egestas convallis tortor nec pulvinar. Quisque lacinia, dui sit amet euismod feugiat, turpis est congue diam, at feugiat ex nisi cursus enim.</p>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum luctus metus lacus. Vestibulum augue neque, maximus in viverra sed, lobortis tincidunt erat. Donec in placerat diam, sed gravida orci. Aliquam eleifend luctus mauris nec hendrerit. Curabitur porta quis lacus vehicula scelerisque. Sed sollicitudin ornare sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam pulvinar ac sapien et tristique. Nulla non ante sed quam feugiat vehicula sed at orci. Aenean enim sapien, ornare hendrerit commodo non, egestas eget metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed scelerisque vulputate lectus, eu varius dui blandit in. Nunc lobortis a lectus quis dignissim. Quisque feugiat turpis iaculis commodo posuere. Suspendisse lacus risus, facilisis non gravida nec, ultricies et mi.</p>
    <p>In efficitur lobortis ex eu ornare. Integer finibus interdum lectus, eget ultricies neque ultricies vel. Nam aliquam odio ac eleifend sollicitudin. In at sapien ac diam fermentum efficitur. Praesent finibus sapien nunc. Quisque a nulla sit amet enim feugiat convallis. Vestibulum scelerisque tristique facilisis. Nullam egestas nibh vel arcu condimentum vehicula. Proin ut nibh interdum, consequat dui eget, lacinia nisi. Suspendisse velit urna, feugiat eu justo faucibus, facilisis vestibulum orci. Etiam ornare leo non nisi fringilla, id imperdiet purus tincidunt. Vivamus et semper velit. Nunc ultrices lacus dolor.</p>
    <p>Curabitur condimentum quam a libero vestibulum, et auctor nisl pharetra. Nam iaculis vitae magna nec aliquet. Aliquam vel ullamcorper justo. Vestibulum tristique mollis mi sit amet vestibulum. Proin tincidunt turpis id faucibus fermentum. Nulla risus orci, auctor et est quis, lacinia egestas dui. Praesent porttitor dui vel erat interdum, sit amet congue felis dictum. Integer metus purus, vulputate non erat at, congue gravida lectus. Etiam magna sem, feugiat eget tincidunt id, tempor consectetur lorem. Curabitur velit augue, imperdiet sit amet sodales in, euismod in metus. Aenean rhoncus posuere velit, eu rhoncus velit tristique non. Vivamus posuere quam enim, at aliquam dui congue nec. Nunc placerat ligula rutrum, ultrices ex ac, tempus neque.</p>
    <p>Quisque sed consectetur nisi. Donec ac velit aliquam, varius purus lacinia, mattis mi. Nulla iaculis est eu mollis rhoncus. Duis imperdiet at urna non dapibus. Mauris quis elit vulputate, gravida massa quis, pulvinar sem. In rhoncus tellus nec nisl placerat, eu accumsan augue maximus. Mauris varius mi suscipit varius fermentum. Suspendisse placerat metus id arcu fermentum, porta pellentesque orci ullamcorper. Cras sed libero vel nisi pharetra aliquam. Sed vitae mollis justo. Fusce aliquet quam id tellus tempor convallis. Vestibulum vehicula commodo fermentum.</p>
    <h2>Efficitur lobortis - Communism</h2>
    <p>Nunc laoreet nunc vitae felis hendrerit tincidunt. Quisque ante diam, luctus ac ullamcorper vel, faucibus sed mauris. Mauris pretium mi eu nisl egestas, placerat pulvinar libero eleifend. Vestibulum sit amet maximus erat. Fusce mollis eleifend tortor, ac posuere nisl dapibus vel. Phasellus lobortis felis at lectus interdum, sit amet finibus libero faucibus. Vivamus pellentesque est quam, non viverra massa porta id. Cras ac odio eget nunc consequat suscipit sit amet vel risus. Curabitur sollicitudin lectus eu sollicitudin convallis. Donec ultricies augue orci, sed euismod justo vulputate efficitur.</p>
    <p>Aenean venenatis velit augue, et sagittis nulla posuere eget. Pellentesque suscipit lacinia nisi id molestie. Ut non ligula vitae velit maximus molestie sodales a tellus. Sed eget dolor sodales, consectetur lectus ut, pellentesque leo. Donec cursus odio nulla, in consectetur ipsum consectetur vel. Donec id faucibus arcu, ut volutpat sapien. Aliquam tincidunt, ex in fringilla volutpat, lectus mauris pharetra nibh, hendrerit interdum tortor ex vitae lorem. Maecenas lacus odio, auctor iaculis blandit eget, semper vitae ex. Mauris porta id mauris quis tincidunt. Morbi dignissim nibh quis arcu feugiat vestibulum.</p>
    <p>Cras molestie vulputate ex eget pellentesque. Donec maximus est sit amet turpis aliquet, non varius sem mollis. Vivamus in arcu dolor. In sagittis, leo quis faucibus ornare, magna erat dictum ipsum, ut dapibus turpis lectus vel orci. Ut eu risus congue, tempor lorem non, tempor sem. Nunc ac tristique arcu. Pellentesque eu ex semper, ultricies mauris non, blandit nibh. Proin eu metus erat. Quisque tincidunt ex at ex volutpat, et scelerisque massa interdum. Aenean eget molestie eros. Vivamus dapibus ultricies nisi. Sed et lectus nibh. Nam ac pellentesque est.</p>
    <p>Nulla vitae tempus magna, at molestie augue. Donec a euismod risus, vitae tincidunt urna. Sed ut malesuada elit, et gravida est. Sed magna augue, euismod id eros sed, euismod sodales purus. Vivamus non iaculis sem. Fusce luctus auctor mauris, nec feugiat nunc feugiat sit amet. Quisque nec nulla condimentum, congue tellus vel, efficitur massa. Maecenas faucibus non erat scelerisque cursus. In ut arcu in ligula vestibulum interdum eu eget lectus. Maecenas luctus maximus sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia erat ligula, vitae consectetur magna consectetur sed. Donec quis turpis eget quam aliquet congue. Morbi libero tortor, convallis id nisi eget, congue aliquet lectus.</p>
    <p>In eget semper leo, at bibendum diam. Proin eu efficitur velit, ut lacinia felis. Nam varius erat ac lacus tristique porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent et libero vitae urna viverra posuere. Sed vulputate eu magna sed pellentesque. In porttitor, ante ut porttitor faucibus, ante diam ultrices sem, vel sagittis enim lorem sed orci.</p>
    <p>Suspendisse suscipit mollis odio, vel ornare neque viverra eu. Suspendisse in vehicula dui. Maecenas a ullamcorper mauris. Curabitur accumsan id libero eu congue. Cras interdum odio vitae dui iaculis, a cursus est dignissim. Pellentesque velit leo, accumsan tempor pharetra id, ullamcorper sed ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum eu lacus enim. Vestibulum sed lacinia lorem. Vivamus tristique vel orci sed eleifend. Nam tincidunt interdum tincidunt.</p>
    <p>Suspendisse rhoncus rutrum ante id scelerisque. Etiam sollicitudin ullamcorper mi a vestibulum. Donec dui elit, fringilla eu velit a, sodales vestibulum purus. Aliquam fringilla elementum eleifend. Sed vel ipsum eget ex egestas lacinia vitae ut ante. Donec leo erat, semper in odio dictum, volutpat pharetra ex. Proin in dui a augue sagittis lobortis eget et massa. In quis urna et leo consequat viverra. Pellentesque efficitur euismod dui, eu maximus ante. Curabitur purus eros, molestie in dignissim vitae, facilisis at sapien. Nam accumsan nibh ex, vel elementum nunc sagittis a. Cras aliquam, magna ut efficitur porttitor, leo tortor pulvinar metus, vitae mattis quam lorem eu elit. Nulla consequat rutrum velit, gravida rutrum nisi venenatis quis. Maecenas purus nulla, elementum eu orci quis, lobortis scelerisque risus.</p>
    <p>Phasellus scelerisque euismod pharetra. Morbi gravida eros dui, a finibus ligula finibus non. Vivamus vulputate erat purus. Vestibulum luctus et risus sed tincidunt. Nunc gravida vulputate justo vitae ornare. Maecenas semper velit nec mi aliquam ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eget orci quis purus venenatis pulvinar. Praesent eu dolor et nisl eleifend dapibus. Nullam ac sollicitudin velit. Nullam pretium, ipsum ac tincidunt vestibulum, diam est ullamcorper magna, eget luctus libero ipsum a orci. Aliquam volutpat commodo quam, quis pharetra turpis aliquam tristique. Nulla auctor velit eu tortor posuere bibendum. Aliquam erat volutpat.</p>
    <p>Suspendisse potenti. Aliquam fringilla, libero ut aliquam commodo, augue elit sagittis metus, a dignissim velit odio quis tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque porttitor mauris quis mauris gravida, in pulvinar tellus molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin eget vestibulum neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ornare blandit urna vel gravida. Praesent elementum ac dolor quis suscipit. Vivamus aliquet, ligula non malesuada placerat, quam nunc dapibus ligula, a tincidunt nisl neque non nunc. Aliquam bibendum neque a velit tristique, vel tristique eros imperdiet.</p>
    <p>Cras sodales, massa egestas congue facilisis, lorem turpis laoreet quam, ut blandit lectus dui non nisl. Duis efficitur, enim id interdum varius, sapien odio feugiat risus, ac fermentum lorem velit finibus ante. Aliquam sagittis aliquam eros, vitae ultricies magna imperdiet nec. Cras id lobortis purus. Vestibulum nec nisi nulla. Sed porttitor eu felis vitae iaculis. Aliquam erat volutpat. Etiam ac diam eu elit vestibulum rhoncus eu ac lectus. Nullam eu suscipit felis. Cras a vehicula mauris.</p>
    <p>Aenean congue odio in ante cursus auctor. Nam et purus et nulla lacinia tincidunt et vitae erat. Vivamus blandit tortor ac eros lacinia, eget auctor eros interdum. Praesent sagittis fermentum nibh sit amet ultricies. Sed dapibus lectus eu ligula efficitur elementum. Nunc sagittis tortor non turpis auctor, posuere suscipit ex fermentum. Praesent tincidunt dui sit amet leo tempus rhoncus. Praesent lacinia varius vehicula. Fusce eget ligula metus. Proin nec ullamcorper nisl. Suspendisse viverra nisi nibh, sed iaculis mauris ultrices eu. Pellentesque vitae placerat arcu.</p>
    <script>
        (()=>{
            const numbering = {
                h1:0,
                h2:0,
                h3:0,
                h4:0,
                h5:0,
                h6:0,
            }

            document.querySelectorAll('h1,h2,h3,h4,h5,h6').forEach(node => {
                if('H1' == node.tagName) numbering.h1++;
                if('H2' == node.tagName) numbering.h2++;
                if('H3' == node.tagName) numbering.h3++;
                if('H4' == node.tagName) numbering.h4++;
                if('H5' == node.tagName) numbering.h5++;
                if('H6' == node.tagName) numbering.h6++;

                const section = [];

                (()=>{
                    section.push(numbering.h1);
                    if('H1' == node.tagName) return;
                    section.push(numbering.h2);
                    if('H2' == node.tagName) return;
                    section.push(numbering.h3);
                    if('H3' == node.tagName) return;
                    section.push(numbering.h4);
                    if('H4' == node.tagName) return;
                    section.push(numbering.h5);
                    if('H5' == node.tagName) return;
                    section.push(numbering.h6);
                    if('H6' == node.tagName) return;
                })();

                node.innerHTML = `${ section.join('.') }. ${node.innerHTML}`;
            });

        })()
    </script>
</body>
</html>